---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "../trussle-style/scss/trussle-style.scss";

// Our variables
$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$spacing-unit:     $tsl-space-large;

$text-color:       #000;
$background-color: #fff;
$brand-color:      $tsl-green;

$grey-color:       $tsl-mid-grey;
$grey-color-light: $tsl-light-grey;
$grey-color-dark:  $tsl-dark-grey;

// Width of the content area
$outer-width:      1000px;
$content-width:    800px;

// Unfortunately this isn't DRY,
// but it is necessary to get images working right!
$base-url: "/blog";

$small-only: 640px;

@mixin for-small-only {
  @media screen and (max-width: $small-only) {
    @content;
  }
}

@mixin for-medium-up {
  @media screen and (min-width: $small-only) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "syntax-highlighting"
;
