// Layout definitions.

$tsl-vspace-normal: $tsl-space-large;

.tsl-vspace-normal {
  margin-bottom: $tsl-vspace-normal;
  margin-top: $tsl-vspace-normal;
}

$tsl-vspace-huge: $tsl-space-huge;

.tsl-vspace-huge {
  margin-bottom: $tsl-vspace-huge;
  margin-top: $tsl-vspace-huge;
}
