// Typography definitions.

@import url("//fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro:300,400,600");

$tsl-font-color: $tsl-black;
$tsl-font-base-size: 16px;
$tsl-font-line-height: 1.5;
$tsl-font-serif-font-weight: 700;
$tsl-font-sans-serif-font-weight-bold: 600;
$tsl-font-sans-serif-font-weight-normal: 400;
$tsl-font-sans-serif-font-weight-light: 300;

// A bunch of anti-aliasing hacks for various browsers.
// (Why can't they just get along?)
%_tsl-font-antialiased {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

// This is how we lay out text.
//
// (Using a mixin to save some file size.)
@mixin _tsl-text {
  @extend %_tsl-font-antialiased;

  color: $tsl-font-color;
  line-height: $tsl-font-line-height;
}

// Our serif font family and weight.
//
// Note that the font family is deliberately
// NOT a variable; this is to ensure it is
// always used at the correct weight.
@mixin tsl-font-serif {
  font-family: "Playfair Display", serif;
  font-weight: $tsl-font-serif-font-weight;
}
.tsl-font-serif { @include tsl-font-serif; }

// Our sans-serif font family and weight.
//
// Note that the font family is deliberately
// NOT a variable; this is to ensure it is
// always used at the correct weight.
@mixin tsl-font-sans-serif {
  @extend %_tsl-font-antialiased;
  font-family: "Source Sans Pro", "Trebuchet", sans-serif;
  font-weight: $tsl-font-sans-serif-font-weight-normal;
}
.tsl-font-sans-serif { @include tsl-font-sans-serif; }

@mixin tsl-font-sans-serif-bold {
  @extend %_tsl-font-antialiased;
  font-family: "Source Sans Pro", "Trebuchet", sans-serif;
  font-weight: $tsl-font-sans-serif-font-weight-bold;
}

@mixin tsl-font-sans-serif-light {
  @extend %_tsl-font-antialiased;
  font-family: "Source Sans Pro", "Trebuchet", sans-serif;
  font-weight: $tsl-font-sans-serif-font-weight-light;
}

// More semantic classes - headings and body text.
@mixin tsl-font-heading-primary {
  @include tsl-font-serif;
  @include _tsl-text;
}
.tsl-font-heading-primary { @include tsl-font-heading-primary; }

@mixin tsl-font-heading-secondary {
  @include tsl-font-sans-serif-bold;
  @include _tsl-text;
}
.tsl-font-heading-secondary { @include tsl-font-heading-secondary; }

@mixin tsl-font-body {
  @include tsl-font-sans-serif;
  @include _tsl-text;
}
.tsl-font-body { @include tsl-font-body; }

@mixin tsl-font-body-bold {
  @include tsl-font-sans-serif-bold;
  @include _tsl-text;
}
.tsl-font-body-bold { @include tsl-font-body-bold; }

@mixin tsl-font-body-light {
  @include tsl-font-sans-serif-light;
  @include _tsl-text;
}
.tsl-font-body-light { @include tsl-font-body-light; }
