// User interface (form) elements.

$tsl-input-height: 48px;
$tsl-input-corner-radius: 4px;

// Disables text selection.
%unselectable {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none;   // Chrome/Safari/Opera
  -khtml-user-select: none;    // Konqueror
  -moz-user-select: none;      // Firefox
  -ms-user-select: none;       // Internet Explorer/Edge
  user-select: none;           // Non-prefixed version, currently not supported by any browser
}

%ui-element-style {
  @extend .tsl-font-body;

  border: 1px solid;
  border-radius: $tsl-input-corner-radius;
  box-sizing: border-box;
  margin: $tsl-space-tiny;
  outline: none;
  padding-bottom: $tsl-space-tiny;
  padding-top: $tsl-space-tiny;

  transition:
    color 0.2s linear,
    background-color 0.2s linear,
    border-color 0.2s linear;
}

@import "ui/label";
@import "ui/button";
@import "ui/input";
@import "ui/select";
@import "ui/checkbox";
@import "ui/radio";
