<footer class="site-footer">

  <div class="footer-green-section">
    <!--
    // We currently have 5 links. Primes are awkward.
    //
    // On small:
    // 1 2
    // 3 4
    //  5
    //
    // On medium:
    // 1 2 3
    //  4 5
    //
    // On large:
    // 1 2 3 4 5
    //
    -->
    <div class="footer-link-list">

      <a class="footer-link-list-item" href="https://drive.google.com/folderview?id=0B0V5jBgZ6owsckZSMUpBSWFxc1U&usp=sharing" target="_blank">Press pack</a>
      <a class="footer-link-list-item" href="https://twitter.com/HelloTrussle" target="_blank">Twitter</a>
      <a class="footer-link-list-item" href="https://www.facebook.com/hellotrussle" target="_blank">Facebook</a>
      <a class="footer-link-list-item" href="https://www.linkedin.com/company/10234615" target="_blank">LinkedIn</a>
      <a class="footer-link-list-item" href="https://trussle.com/privacy" target="_blank">Privacy</a>

    </div>

    <p class="footer-legal">Your home may be repossessed if you do not keep up repayments on your mortgage.</p>

    <p class="footer-legal">For insurance business we offer products from a choice of insurers.</p>

    <p class="footer-legal">You may have to pay an early repayment charge to your existing lender if you remortgage.</p>

    <p class="footer-legal">There is no guarantee that it will be possible to arrange continuous letting of the property, nor that rental income will be sufficient to meet the cost of the mortgage.</p>
  </div>

  <p class="footer-business">&copy; Trussle Lab Ltd 2016 | Registered in England and Wales: 09459339. Anova House, Horsham, RH12 3LZ.</p>

  <p class="footer-business last">Trussle is a trading style of Trussle Lab Ltd, which is an appointed representative of Mortgage Advice Bureau Limited and Mortgage Advice Bureau (Derby) Limited which are authorised and regulated by the Financial Conduct Authority. The guidance and/or advice contained in this website is subject to the UK regulatory regime and is therefore primarily targeted at consumers based in the UK. You voluntarily choose to provide personal details to us via this website. Personal information will be treated as confidential by us and held in accordance with the Data Protection Act 1998. You agree that such personal information may be used to provide you with details of services and products in writing, by email or by telephone.</p>

</footer>
