<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Good-looking social -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

  {% if page.social_image_filename %}
    <meta property="og:image" content="{{ site.baseurl }}images/post_images/{{ page.social_image_filename }}" />
  {% else %}
    <meta property="og:image" content="{{ "/images/logos/trussle-logo-green-green.png" | prepend: site.baseurl }}" />
  {% endif %}

  {% include head/favicons.html %}

  <!-- Looking good! -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  {% include head/analytics.html %}
</head>
