<div class="intro">
  <p><a href="https://trussle.com">Trussle</a> is the new hassle-free way to find and secure a mortgage online. We’ll even help you switch later on so you never pay more than you should.</p>

  <p class="intro-cta">
    Visit us at <a href="https://trussle.com">trussle.com</a>
    or find us on
    <a href="https://twitter.com/HelloTrussle" target="_blank">Twitter</a>,
    <a href="https://www.facebook.com/hellotrussle" target="_blank">Facebook</a> or
    <a href="https://www.linkedin.com/company/10234615" target="_blank">LinkedIn</a>.
  </p>
</div>
