<div class="mailing-list">
    <div class="card">
        <h3>Join our newsletter</h3>
        <p class="secondary-text">Sign up to our newsletter to receive helpful advice and the latest news each month.</p>
        <form action="//trussle.us13.list-manage.com/subscribe/post?u=1b8e34f69ad967499b3b9aae5&amp;id=af43834a01" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">Your email address</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" class="tsl-input-primary">
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_1b8e34f69ad967499b3b9aae5_af43834a01" tabindex="-1" value="" />
                </div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="email-submit-buttom" />
        </form>
    </div>
</div>