<div>
  <div class="msr-signature">
    <img width="110px" src={{ "/images/msr/im_signature.png" | prepend: site.baseurl }}>
    <p><b>Ishaan Malhi, CEO and founder of Trussle</b></p>
  </div>
  <div class="msr-download">
    <a href="{{ page.file_location }}" rel="nofollow" target="_blank">
      <img width="90px" src={{ "/images/msr/thumbanil_doc.png" | prepend: site.baseurl }}>
    </a>
    <span class="download-details">
      <a href="{{ page.file_location }}" rel="nofollow" target="_blank">Download PDF</a>
      <p>{{page.file_size}}MB</p>
    </span>
  </div>
</div>