<div class="share-buttons">
  Share this page on:
  <a class="share-button" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
    <img src="{{ site.baseurl }}/images/icons/social/twitter.png" />
  </a>
  <a class="share-button" href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <img src="{{ site.baseurl }}/images/icons/social/facebook.png" />
  </a>
</div>
