<div class="trussle-banner">
  <img class="trussle-banner-logo" src="{{site.baseurl}}/images/logos/trussle-logo-green.png" />

  <p class="trussle-banner-explainer"><a href="https://trussle.com">Trussle</a> is the new hassle-free way to get a mortgage. We help first-time buyers and existing homeowners save time and money securing a great-value mortgage online. We then continue to monitor your mortgage and help you switch to a better deal later on, so you’re never paying more than you should.</p>

  <p class="trussle-banner-cta">Visit <a href="https://trussle.com">trussle.com</a> to see what you could save on your mortgage.</p>
</div>
