%button-style {
  @extend %ui-element-style, %unselectable;

  cursor: default;
  display: inline-block;
  min-width: 144px;
  padding-left: $tsl-space-medium;
  padding-right: $tsl-space-medium;
  text-align: center;
}

@include trussle-style(button) {
  @extend %button-style;

  background-color: map-get($tsl-colours, primary-green);
  border-color: map-get($tsl-colours, primary-green);
  color: map-get($tsl-colours, tertiary-white);

  &:hover,
  &:focus {
    background-color: map-get($tsl-colours, primary-black);
    border-color: map-get($tsl-colours, primary-black);
  }

  &:active,
  &.active {
    background-color: map-get($tsl-colours, primary-deep-green);
    border-color: map-get($tsl-colours, primary-deep-green);
  }

  &:disabled,
  &.disabled {
    background-color: map-get($tsl-colours, secondary-light-grey);
    border-color: map-get($tsl-colours, secondary-light-grey);
  }

  &.secondary {
    background-color: map-get($tsl-colours, tertiary-white);
    border-color: map-get($tsl-colours, primary-green);
    color: map-get($tsl-colours, primary-green);

    &:hover,
    &:focus {
      background-color: map-get($tsl-colours, tertiary-white);
      border-color: map-get($tsl-colours, primary-black);
      color: map-get($tsl-colours, primary-black);
    }

    &:active,
    &.active {
      background-color: map-get($tsl-colours, tertiary-white);
      border-color: map-get($tsl-colours, primary-deep-green);
      color: map-get($tsl-colours, primary-deep-green);
    }

    &:disabled,
    &.disabled {
      background-color: map-get($tsl-colours, tertiary-white);
      border-color: map-get($tsl-colours, secondary-light-grey);
      color: map-get($tsl-colours, secondary-light-grey);
    }
  }

  &.tertiary {
    background-color: map-get($tsl-colours, tertiary-white);
    border-color: map-get($tsl-colours, secondary-deep-blue);
    color: map-get($tsl-colours, secondary-deep-blue);

    &:hover,
    &:focus {
      background-color: map-get($tsl-colours, tertiary-white);
      border-color: map-get($tsl-colours, primary-black);
      color: map-get($tsl-colours, primary-black);
    }

    &:active,
    &.active {
      background-color: map-get($tsl-colours, tertiary-white);
      border-color: map-get($tsl-colours, primary-deep-green);
      color: map-get($tsl-colours, primary-deep-green);
    }

    &:disabled,
    &.disabled {
      background-color: map-get($tsl-colours, tertiary-white);
      border-color: map-get($tsl-colours, secondary-light-grey);
      color: map-get($tsl-colours, secondary-light-grey);
    }
  }
}
