$tsl-checkbox-size: 24px;

%checkbox-style {
  // Hide the actual input
  opacity: 0;
  position: absolute;
  z-index: 1;

  & + label {
    background-image: url("./img/checkbox-false.svg");
    background-position: $tsl-space-tiny 6px;
    background-repeat: no-repeat;
    color: map-get($tsl-colours, secondary-mid-grey);
    display: inline-block;
    font-weight: $body-font-weight;
    margin: $tsl-space-tiny;
    padding: $tsl-space-tiny;
    padding-left: $tsl-checkbox-size + ($tsl-space-tiny * 2); // The checkbox is 24px.
    position: relative;
    transition:
      background-image 0.2s linear,
      color 0.2s linear;
    z-index: 2;
  }

  &:focus + label,
  & + label:hover {
    background-image: url("./img/checkbox-false-hover.svg");
    color: map-get($tsl-colours, secondary-dark-grey);
  }

  &:disabled + label {
    background-image: url("./img/checkbox-false-disabled.svg");
    color: map-get($tsl-colours, secondary-light-grey);
  }

  &:checked + label {
    background-image: url("./img/checkbox-true.svg");
  }

  &:focus:checked + label,
  &:checked + label:hover {
    background-image: url("./img/checkbox-true-hover.svg");
    color: map-get($tsl-colours, secondary-dark-grey);
  }

  &:disabled:checked + label {
    background-image: url("./img/checkbox-true-disabled.svg");
    color: map-get($tsl-colours, secondary-light-grey);
  }
}

.trussle-style input[type="checkbox"] { @extend %checkbox-style; }
.tsl-checkbox { @extend %checkbox-style; }
