@include trussle-style(input) {
  @extend %ui-element-style;

  border-color: map-get($tsl-colours, secondary-mid-grey);
  color: map-get($tsl-colours, secondary-dark-grey);
  padding: $tsl-input-corner-radius ($tsl-input-corner-radius * 2);

  &:hover {
    border-color: map-get($tsl-colours, secondary-dark-grey);
  }

  &:focus,
  &:active {
    border-color: map-get($tsl-colours, primary-green) !important;
  }

  &.valid {
    border-color: map-get($tsl-colours, primary-deep-green);
  }

  &:invalid,
  &.invalid {
    border-color: map-get($tsl-colours, tertiary-red);
  }

  &:disabled,
  &.disabled {
    border-color: map-get($tsl-colours, secondary-light-grey);
    color: map-get($tsl-colours, secondary-light-grey);
  }

  &.complete-statement {
    border: 0;
    border-bottom: 1px dotted map-get($tsl-colours, secondary-dark-grey);
    border-radius: 0;
    color: map-get($tsl-colours, primary-green);
    font-size: 150%;
    height: auto;
  }
}
