@include trussle-style(label) {
  font-weight: $body-font-weight-bold;
  margin: $tsl-space-tiny 0 $tsl-space-tiny $tsl-space-tiny;
  padding: $tsl-input-corner-radius;

  &.side {
    display: inline-block;
  }
}

// Helpful div to make the label sit above the div.
.tsl-on-top-label {

  display: inline-block;

  label,
  input {
    display: block;
  }

  label {
    margin: $tsl-space-tiny $tsl-space-tiny 0 $tsl-space-tiny;
    padding: 0 $tsl-input-corner-radius;
  }

}
