%radio-style {
  // Hide the actual input
  opacity: 0;
  position: absolute;
  z-index: 1;

  & + label {
    @extend %unselectable;
    background-color: map-get($tsl-colours, tertiary-white);
    border: 1px solid map-get($tsl-colours, secondary-mid-grey);
    border-radius: $tsl-input-corner-radius;
    color: map-get($tsl-colours, secondary-mid-grey);
    display: inline-block;
    margin: $tsl-space-tiny;
    padding: $tsl-space-medium $tsl-space-tiny $tsl-space-medium 0;
    position: relative;
    text-align: center;
    transition:
      color 0.2s linear,
      border-color 0.2s linear;
    width: 150px;
    z-index: 2;
  }

  &:focus + label,
  & + label:hover {
    border-color: map-get($tsl-colours, secondary-dark-grey);
    color: map-get($tsl-colours, secondary-dark-grey);
  }

  &:disabled + label {
    border-color: map-get($tsl-colours, secondary-light-grey);
    color: map-get($tsl-colours, secondary-light-grey);
  }

  &:checked + label {
    border-color: map-get($tsl-colours, primary-deep-green);
    color: map-get($tsl-colours, primary-deep-green);
  }

  &:focus:checked + label,
  &:checked + label:hover {
    border-color: map-get($tsl-colours, primary-green);
    color: map-get($tsl-colours, primary-green);
  }
}

.trussle-style input[type="radio"] { @extend %radio-style; }
.tsl-radio { @extend %radio-style; }
