@include trussle-style(select) {
  @extend %ui-element-style;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: map-get($tsl-colours, tertiary-white);
  background-image: url("./img/dropdown-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  border-color: map-get($tsl-colours, secondary-mid-grey);
  color: map-get($tsl-colours, secondary-mid-grey);
  height: 34px;
  // min-width: 144px;
  padding: $tsl-input-corner-radius ($tsl-input-corner-radius * 4 + 14px) $tsl-input-corner-radius ($tsl-input-corner-radius * 2);

  &:hover {
    border-color: map-get($tsl-colours, secondary-dark-grey);
    color: map-get($tsl-colours, secondary-dark-grey);
  }

  &:focus,
  &:active {
    border-color: map-get($tsl-colours, secondary-dark-grey);
    color: map-get($tsl-colours, secondary-dark-grey);
    outline: none;
  }

  &:disabled,
  &.disabled {
    border-color: map-get($tsl-colours, secondary-light-grey);
    color: map-get($tsl-colours, secondary-light-grey);
  }

  option {
    background-color: map-get($tsl-colours, tertiary-white);
    color: map-get($tsl-colours, secondary-mid-grey);
    padding: $tsl-input-corner-radius ($tsl-input-corner-radius * 4 + 14px) $tsl-input-corner-radius ($tsl-input-corner-radius * 2);

    &:hover,
    &:focus,
    &:active {
      background-color: map-get($tsl-colours, tertiary-white);
      color: map-get($tsl-colours, secondary-dark-grey);
      outline: none;
    }
  }

  &.complete-statement {
    border: 0;
    border-bottom: 1px dotted map-get($tsl-colours, secondary-dark-grey);
    border-radius: 0;
    color: map-get($tsl-colours, primary-green);
    font-size: 150%;
    height: auto;

    // Hide arrow when valid.
    &:valid {
      background-image: none;
      padding-right: ($tsl-input-corner-radius * 2);
    }
  }
}
