
.element-demo
  .element-container
    a This is a link that goes to a new page.

  div In SASS use the mixin #[tt tsl-link-primary]. In CSS, use the class #[tt .tsl-link-primary] or use #[tt a] in #[tt .tsl-style].

.element-demo
  .element-container
    div
      a.secondary This is a link that opens an in-page popup.

  div In SASS use the mixin #[tt tsl-link-secondary]. In CSS, use the class #[tt .tsl-link-secondary] or use #[tt a.secondary] in #[tt .tsl-style].
