.post-header {
  margin-bottom: $tsl-space-large;
}

.post-title {
  font-size: 48px;

  @include for-small-only {
    margin-top: $tsl-space-medium;
    font-size: 30px;
  }
}

.post-meta {
}

.post-content {
  @extend .tsl-style;

  font-size: 21px;

  @include for-small-only {
    font-size: 16px;
  }

  // All the fancy post formatting

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: $tsl-space-medium;
  }

  blockquote {
    clear: both;

    font-size: 120%;
    font-style: italic;
    margin: 0;
    padding: $tsl-space-medium;

    @include for-small-only {
      padding: $tsl-space-medium $tsl-space-small;
    }
  }

  h2 {
    margin: $tsl-space-large 0 $tsl-space-medium 0;
  }

  h3 {
    font-size: 21px;
    margin: $tsl-space-large 0 $tsl-space-medium 0;
  }

  hr {
    margin: $tsl-space-large;
  }
}
