@import "https://fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro:300,400,600";
.tsl-primary-green {
  color: #4AC64A !important; }

.tsl-primary-green-bg {
  background-color: #4AC64A !important; }

.tsl-primary-black {
  color: #0D280A !important; }

.tsl-primary-black-bg {
  background-color: #0D280A !important; }

.tsl-primary-deep-green {
  color: #1DB01D !important; }

.tsl-primary-deep-green-bg {
  background-color: #1DB01D !important; }

.tsl-secondary-yellow {
  color: #F7DD4C !important; }

.tsl-secondary-yellow-bg {
  background-color: #F7DD4C !important; }

.tsl-secondary-blue {
  color: #7ACCC8 !important; }

.tsl-secondary-blue-bg {
  background-color: #7ACCC8 !important; }

.tsl-secondary-carmine {
  color: #E86D5B !important; }

.tsl-secondary-carmine-bg {
  background-color: #E86D5B !important; }

.tsl-secondary-lime {
  color: #99D940 !important; }

.tsl-secondary-lime-bg {
  background-color: #99D940 !important; }

.tsl-secondary-deep-blue {
  color: #2AB9B2 !important; }

.tsl-secondary-deep-blue-bg {
  background-color: #2AB9B2 !important; }

.tsl-secondary-orange {
  color: #EC8740 !important; }

.tsl-secondary-orange-bg {
  background-color: #EC8740 !important; }

.tsl-secondary-dark-grey {
  color: #323232 !important; }

.tsl-secondary-dark-grey-bg {
  background-color: #323232 !important; }

.tsl-secondary-mid-grey {
  color: #747474 !important; }

.tsl-secondary-mid-grey-bg {
  background-color: #747474 !important; }

.tsl-secondary-light-grey {
  color: #999 !important; }

.tsl-secondary-light-grey-bg {
  background-color: #999 !important; }

.tsl-tertiary-red {
  color: #E1034C !important; }

.tsl-tertiary-red-bg {
  background-color: #E1034C !important; }

.tsl-tertiary-white {
  color: #FFF !important; }

.tsl-tertiary-white-bg {
  background-color: #FFF !important; }

.tsl-font-header, .trussle-style h1, .tsl-p h1, .tsl-h1, .trussle-style h2, .tsl-p h2, .tsl-h2 {
  color: #0D280A;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 150%; }

.tsl-font-body-bold, .trussle-style h3, .tsl-p h3, .tsl-h3, .trussle-style h4, .tsl-p h4, .tsl-h4, .tsl-font-body, .trussle-style, .trussle-style p, .tsl-p, .trussle-style button, .tsl-p button, .tsl-button, .trussle-style input, .tsl-p input, .tsl-input, .trussle-style select, .tsl-p select, .tsl-select, .tsl-font-body-light {
  color: #0D280A;
  font-family: "Source Sans Pro", "Trebuchet", sans-serif;
  font-size: 16px;
  line-height: 150%; }

.tsl-font-body-bold, .trussle-style h3, .tsl-p h3, .tsl-h3, .trussle-style h4, .tsl-p h4, .tsl-h4 {
  font-weight: 600; }

.tsl-font-body, .trussle-style, .trussle-style p, .tsl-p, .trussle-style button, .tsl-p button, .tsl-button, .trussle-style input, .tsl-p input, .tsl-input, .trussle-style select, .tsl-p select, .tsl-select {
  font-weight: 400; }

.tsl-font-body-light {
  font-weight: 300; }

.trussle-style, .trussle-style p, .tsl-p {
  font-size: 16px; }

.trussle-style h1, .tsl-p h1, .tsl-h1, .trussle-style h2, .tsl-p h2, .tsl-h2, .trussle-style h3, .tsl-p h3, .tsl-h3, .trussle-style h4, .tsl-p h4, .tsl-h4, .trussle-style p, .tsl-p p, .tsl-p {
  margin: 0;
  padding: 0; }

.trussle-style h1, .tsl-p h1 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-top: 32px; }

.tsl-h1 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-top: 32px; }

.trussle-style h2, .tsl-p h2 {
  font-size: 40px;
  margin-bottom: 13.33333px;
  margin-top: 26.66667px; }

.tsl-h2 {
  font-size: 40px;
  margin-bottom: 13.33333px;
  margin-top: 26.66667px; }

.trussle-style h3, .tsl-p h3 {
  font-size: 32px;
  margin-bottom: 10.66667px;
  margin-top: 21.33333px; }

.tsl-h3 {
  font-size: 32px;
  margin-bottom: 10.66667px;
  margin-top: 21.33333px; }

.trussle-style h4, .tsl-p h4 {
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 16px; }

.tsl-h4 {
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 16px; }

.trussle-style p, .tsl-p p {
  margin-bottom: 16px; }

.tsl-p {
  margin-bottom: 16px; }

.trussle-style a, .tsl-p a {
  border-bottom: 1px dotted #4AC64A;
  color: #4AC64A;
  display: inline-block;
  text-decoration: none; }
  .trussle-style a:hover, .tsl-p a:hover {
    border-bottom: 1px solid #4AC64A;
    cursor: pointer; }
  .trussle-style a.in-page, .tsl-p a.in-page {
    border-bottom-color: #0D280A;
    color: #0D280A; }
    .trussle-style a.in-page:hover, .tsl-p a.in-page:hover {
      border-bottom-color: #0D280A; }

.tsl-a {
  border-bottom: 1px dotted #4AC64A;
  color: #4AC64A;
  display: inline-block;
  text-decoration: none; }
  .tsl-a:hover {
    border-bottom: 1px solid #4AC64A;
    cursor: pointer; }
  .tsl-a.in-page {
    border-bottom-color: #0D280A;
    color: #0D280A; }
    .tsl-a.in-page:hover {
      border-bottom-color: #0D280A; }

.tsl-vspace-normal {
  margin-bottom: 48px;
  margin-top: 48px; }

.tsl-vspace-huge {
  margin-bottom: 72px;
  margin-top: 72px; }

.trussle-style button, .tsl-p button, .tsl-button, .trussle-style input[type="radio"] + label, .tsl-p input[type="radio"] + label, .tsl-radio + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.trussle-style button, .tsl-p button, .tsl-button, .trussle-style input, .tsl-p input, .tsl-input, .trussle-style select, .tsl-p select, .tsl-select {
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px;
  outline: none;
  padding-bottom: 8px;
  padding-top: 8px;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear; }

.trussle-style label, .tsl-p label {
  font-weight: 600;
  margin: 8px 0 8px 8px;
  padding: 4px; }
  .trussle-style label.side, .tsl-p label.side {
    display: inline-block; }

.tsl-label {
  font-weight: 600;
  margin: 8px 0 8px 8px;
  padding: 4px; }
  .tsl-label.side {
    display: inline-block; }

.tsl-on-top-label {
  display: inline-block; }
  .tsl-on-top-label label,
  .tsl-on-top-label input {
    display: block; }
  .tsl-on-top-label label {
    margin: 8px 8px 0 8px;
    padding: 0 4px; }

.trussle-style button, .tsl-p button, .tsl-button {
  cursor: default;
  display: inline-block;
  min-width: 144px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center; }

.trussle-style button, .tsl-p button {
  background-color: #4AC64A;
  border-color: #4AC64A;
  color: #FFF; }
  .trussle-style button:hover, .tsl-p button:hover, .trussle-style button:focus, .tsl-p button:focus {
    background-color: #0D280A;
    border-color: #0D280A; }
  .trussle-style button:active, .tsl-p button:active, .trussle-style button.active, .tsl-p button.active {
    background-color: #1DB01D;
    border-color: #1DB01D; }
  .trussle-style button:disabled, .tsl-p button:disabled, .trussle-style button.disabled, .tsl-p button.disabled {
    background-color: #999;
    border-color: #999; }
  .trussle-style button.secondary, .tsl-p button.secondary {
    background-color: #FFF;
    border-color: #4AC64A;
    color: #4AC64A; }
    .trussle-style button.secondary:hover, .tsl-p button.secondary:hover, .trussle-style button.secondary:focus, .tsl-p button.secondary:focus {
      background-color: #FFF;
      border-color: #0D280A;
      color: #0D280A; }
    .trussle-style button.secondary:active, .tsl-p button.secondary:active, .trussle-style button.secondary.active, .tsl-p button.secondary.active {
      background-color: #FFF;
      border-color: #1DB01D;
      color: #1DB01D; }
    .trussle-style button.secondary:disabled, .tsl-p button.secondary:disabled, .trussle-style button.secondary.disabled, .tsl-p button.secondary.disabled {
      background-color: #FFF;
      border-color: #999;
      color: #999; }
  .trussle-style button.tertiary, .tsl-p button.tertiary {
    background-color: #FFF;
    border-color: #2AB9B2;
    color: #2AB9B2; }
    .trussle-style button.tertiary:hover, .tsl-p button.tertiary:hover, .trussle-style button.tertiary:focus, .tsl-p button.tertiary:focus {
      background-color: #FFF;
      border-color: #0D280A;
      color: #0D280A; }
    .trussle-style button.tertiary:active, .tsl-p button.tertiary:active, .trussle-style button.tertiary.active, .tsl-p button.tertiary.active {
      background-color: #FFF;
      border-color: #1DB01D;
      color: #1DB01D; }
    .trussle-style button.tertiary:disabled, .tsl-p button.tertiary:disabled, .trussle-style button.tertiary.disabled, .tsl-p button.tertiary.disabled {
      background-color: #FFF;
      border-color: #999;
      color: #999; }

.tsl-button {
  background-color: #4AC64A;
  border-color: #4AC64A;
  color: #FFF; }
  .tsl-button:hover, .tsl-button:focus {
    background-color: #0D280A;
    border-color: #0D280A; }
  .tsl-button:active, .tsl-button.active {
    background-color: #1DB01D;
    border-color: #1DB01D; }
  .tsl-button:disabled, .tsl-button.disabled {
    background-color: #999;
    border-color: #999; }
  .tsl-button.secondary {
    background-color: #FFF;
    border-color: #4AC64A;
    color: #4AC64A; }
    .tsl-button.secondary:hover, .tsl-button.secondary:focus {
      background-color: #FFF;
      border-color: #0D280A;
      color: #0D280A; }
    .tsl-button.secondary:active, .tsl-button.secondary.active {
      background-color: #FFF;
      border-color: #1DB01D;
      color: #1DB01D; }
    .tsl-button.secondary:disabled, .tsl-button.secondary.disabled {
      background-color: #FFF;
      border-color: #999;
      color: #999; }
  .tsl-button.tertiary {
    background-color: #FFF;
    border-color: #2AB9B2;
    color: #2AB9B2; }
    .tsl-button.tertiary:hover, .tsl-button.tertiary:focus {
      background-color: #FFF;
      border-color: #0D280A;
      color: #0D280A; }
    .tsl-button.tertiary:active, .tsl-button.tertiary.active {
      background-color: #FFF;
      border-color: #1DB01D;
      color: #1DB01D; }
    .tsl-button.tertiary:disabled, .tsl-button.tertiary.disabled {
      background-color: #FFF;
      border-color: #999;
      color: #999; }

.trussle-style input, .tsl-p input {
  border-color: #747474;
  color: #323232;
  padding: 4px 8px; }
  .trussle-style input:hover, .tsl-p input:hover {
    border-color: #323232; }
  .trussle-style input:focus, .tsl-p input:focus, .trussle-style input:active, .tsl-p input:active {
    border-color: #4AC64A !important; }
  .trussle-style input.valid, .tsl-p input.valid {
    border-color: #1DB01D; }
  .trussle-style input:invalid, .tsl-p input:invalid, .trussle-style input.invalid, .tsl-p input.invalid {
    border-color: #E1034C; }
  .trussle-style input:disabled, .tsl-p input:disabled, .trussle-style input.disabled, .tsl-p input.disabled {
    border-color: #999;
    color: #999; }
  .trussle-style input.complete-statement, .tsl-p input.complete-statement {
    border: 0;
    border-bottom: 1px dotted #323232;
    border-radius: 0;
    color: #4AC64A;
    font-size: 150%;
    height: auto; }

.tsl-input {
  border-color: #747474;
  color: #323232;
  padding: 4px 8px; }
  .tsl-input:hover {
    border-color: #323232; }
  .tsl-input:focus, .tsl-input:active {
    border-color: #4AC64A !important; }
  .tsl-input.valid {
    border-color: #1DB01D; }
  .tsl-input:invalid, .tsl-input.invalid {
    border-color: #E1034C; }
  .tsl-input:disabled, .tsl-input.disabled {
    border-color: #999;
    color: #999; }
  .tsl-input.complete-statement {
    border: 0;
    border-bottom: 1px dotted #323232;
    border-radius: 0;
    color: #4AC64A;
    font-size: 150%;
    height: auto; }

.trussle-style select, .tsl-p select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFF;
  background-image: url("./img/dropdown-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  border-color: #747474;
  color: #747474;
  height: 34px;
  padding: 4px 30px 4px 8px; }
  .trussle-style select:hover, .tsl-p select:hover {
    border-color: #323232;
    color: #323232; }
  .trussle-style select:focus, .tsl-p select:focus, .trussle-style select:active, .tsl-p select:active {
    border-color: #323232;
    color: #323232;
    outline: none; }
  .trussle-style select:disabled, .tsl-p select:disabled, .trussle-style select.disabled, .tsl-p select.disabled {
    border-color: #999;
    color: #999; }
  .trussle-style select option, .tsl-p select option {
    background-color: #FFF;
    color: #747474;
    padding: 4px 30px 4px 8px; }
    .trussle-style select option:hover, .tsl-p select option:hover, .trussle-style select option:focus, .tsl-p select option:focus, .trussle-style select option:active, .tsl-p select option:active {
      background-color: #FFF;
      color: #323232;
      outline: none; }
  .trussle-style select.complete-statement, .tsl-p select.complete-statement {
    border: 0;
    border-bottom: 1px dotted #323232;
    border-radius: 0;
    color: #4AC64A;
    font-size: 150%;
    height: auto; }
    .trussle-style select.complete-statement:valid, .tsl-p select.complete-statement:valid {
      background-image: none;
      padding-right: 8px; }

.tsl-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFF;
  background-image: url("./img/dropdown-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  border-color: #747474;
  color: #747474;
  height: 34px;
  padding: 4px 30px 4px 8px; }
  .tsl-select:hover {
    border-color: #323232;
    color: #323232; }
  .tsl-select:focus, .tsl-select:active {
    border-color: #323232;
    color: #323232;
    outline: none; }
  .tsl-select:disabled, .tsl-select.disabled {
    border-color: #999;
    color: #999; }
  .tsl-select option {
    background-color: #FFF;
    color: #747474;
    padding: 4px 30px 4px 8px; }
    .tsl-select option:hover, .tsl-select option:focus, .tsl-select option:active {
      background-color: #FFF;
      color: #323232;
      outline: none; }
  .tsl-select.complete-statement {
    border: 0;
    border-bottom: 1px dotted #323232;
    border-radius: 0;
    color: #4AC64A;
    font-size: 150%;
    height: auto; }
    .tsl-select.complete-statement:valid {
      background-image: none;
      padding-right: 8px; }

.trussle-style input[type="checkbox"], .tsl-p input[type="checkbox"], .tsl-checkbox {
  opacity: 0;
  position: absolute;
  z-index: 1; }
  .trussle-style input[type="checkbox"] + label, .tsl-p input[type="checkbox"] + label, .tsl-checkbox + label {
    background-image: url("./img/checkbox-false.svg");
    background-position: 8px 6px;
    background-repeat: no-repeat;
    color: #747474;
    display: inline-block;
    font-weight: 400;
    margin: 8px;
    padding: 8px;
    padding-left: 40px;
    position: relative;
    transition: background-image 0.2s linear, color 0.2s linear;
    z-index: 2; }
  .trussle-style input[type="checkbox"]:focus + label, .tsl-p input[type="checkbox"]:focus + label, .tsl-checkbox:focus + label, .trussle-style input[type="checkbox"] + label:hover, .tsl-p input[type="checkbox"] + label:hover, .tsl-checkbox + label:hover {
    background-image: url("./img/checkbox-false-hover.svg");
    color: #323232; }
  .trussle-style input[type="checkbox"]:disabled + label, .tsl-p input[type="checkbox"]:disabled + label, .tsl-checkbox:disabled + label {
    background-image: url("./img/checkbox-false-disabled.svg");
    color: #999; }
  .trussle-style input[type="checkbox"]:checked + label, .tsl-p input[type="checkbox"]:checked + label, .tsl-checkbox:checked + label {
    background-image: url("./img/checkbox-true.svg"); }
  .trussle-style input[type="checkbox"]:focus:checked + label, .tsl-p input[type="checkbox"]:focus:checked + label, .tsl-checkbox:focus:checked + label, .trussle-style input[type="checkbox"]:checked + label:hover, .tsl-p input[type="checkbox"]:checked + label:hover, .tsl-checkbox:checked + label:hover {
    background-image: url("./img/checkbox-true-hover.svg");
    color: #323232; }
  .trussle-style input[type="checkbox"]:disabled:checked + label, .tsl-p input[type="checkbox"]:disabled:checked + label, .tsl-checkbox:disabled:checked + label {
    background-image: url("./img/checkbox-true-disabled.svg");
    color: #999; }

.trussle-style input[type="radio"], .tsl-p input[type="radio"], .tsl-radio {
  opacity: 0;
  position: absolute;
  z-index: 1; }
  .trussle-style input[type="radio"] + label, .tsl-p input[type="radio"] + label, .tsl-radio + label {
    background-color: #FFF;
    border: 1px solid #747474;
    border-radius: 4px;
    color: #747474;
    display: inline-block;
    margin: 8px;
    padding: 24px 8px 24px 0;
    position: relative;
    text-align: center;
    transition: color 0.2s linear, border-color 0.2s linear;
    width: 150px;
    z-index: 2; }
  .trussle-style input[type="radio"]:focus + label, .tsl-p input[type="radio"]:focus + label, .tsl-radio:focus + label, .trussle-style input[type="radio"] + label:hover, .tsl-p input[type="radio"] + label:hover, .tsl-radio + label:hover {
    border-color: #323232;
    color: #323232; }
  .trussle-style input[type="radio"]:disabled + label, .tsl-p input[type="radio"]:disabled + label, .tsl-radio:disabled + label {
    border-color: #999;
    color: #999; }
  .trussle-style input[type="radio"]:checked + label, .tsl-p input[type="radio"]:checked + label, .tsl-radio:checked + label {
    border-color: #1DB01D;
    color: #1DB01D; }
  .trussle-style input[type="radio"]:focus:checked + label, .tsl-p input[type="radio"]:focus:checked + label, .tsl-radio:focus:checked + label, .trussle-style input[type="radio"]:checked + label:hover, .tsl-p input[type="radio"]:checked + label:hover, .tsl-radio:checked + label:hover {
    border-color: #4AC64A;
    color: #4AC64A; }
