.footer-link-list, .footer-legal, .footer-business-info {
  @include wrap-to($outer-width);
}

@mixin house-border-top {
  background-color: #EEE;
  border-top: 4px solid $tsl-green;
  margin-top: $tsl-space-huge;
  position: relative;

  &::before {
    background: url("#{$base-url}/images/house-footer.png");
    content: "\00a0"; // Space
    height: 25px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -24px;
    width: 28px;
  }
}

.site-footer {
  @include house-border-top;

  color: $tsl-mid-grey;
  padding: $spacing-unit;
  text-align: left;

  @include for-small-only {
    text-align: center;
  }
}

.footer-link-list {
  margin-bottom: $spacing-unit;
  position: relative;
  text-align: center;
}

.footer-link-list-column {
  display: inline-block;
  vertical-align: top;
  width: 33%;

  @include for-small-only {
    display: block;
    width: 100%;
  }

  a {
    border: 0;
    color: $tsl-mid-grey;
    display: block;
    font-weight: 600;

    padding: 5px 0;


    &:hover {
      border: 0;
      text-decoration: underline;
    }
  }
}


.footer-legal {
  margin-bottom: $spacing-unit / 2;
}

.footer-business-info {
  font-size: 80%;
  line-height: 125%;
  margin: 0 auto;
  padding-bottom: $spacing-unit / 4;
}
