.site-header {
  @include wrap-to($outer-width);
}

.site-logo-link {
  border: 0;
  margin: 24px 0;

  @include for-small-only {
    text-align: center;
    width: 100%;
  }

  &:hover {
    border: 0;
  }
}

.site-logo {
  width: 150px;
}

.site-logo-subtitle {
  @extend .tsl-font-body-light;

  color: map-get($tsl-colours, 'secondary-deep-blue');
  font-size: 40px;
}

.go-to-main-site-button {
  border: 1px solid $brand-color;
  border-radius: 3px;
  color: $brand-color;
  float: right;
  margin: 34px 0;
  padding: 6px 10px;
  transition: all 0.2s linear;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    background-color: map-get($tsl-colours, 'primary-deep-green');
    border-color: map-get($tsl-colours, 'primary-green');
    color: white;
    text-decoration: none;
  }

  @include for-small-only {
    display: none;
  }
}
