.intro {
  background-color: $tsl-deep-blue;
  margin-bottom: $tsl-space-small;

  p {
    color: $tsl-off-white;
  }

  & > * {
    @include wrap-to($content-width);
  }

  a {
    border-color: $tsl-off-white;
    color: $tsl-off-white;

    &:hover { border-color: $tsl-white; color: $tsl-white; }
  }

  padding: $tsl-space-medium 0 $tsl-space-tiny 0;
}

.intro-cta {
  @include tsl-font-body-bold;
  color: $tsl-off-white;
}
