.intro {
  @extend .tsl-secondary-deep-blue-bg;
  color: #F6F6F6;

  & > * {
    @include wrap-to($content-width);
  }

  a {
    border-color: #F6F6F6;
    color: #F6F6F6;

    &:hover { border-color: white; color: white; }
  }

  margin-bottom: $tsl-space-huge;
  padding: $tsl-space-medium 0 $tsl-space-tiny 0;
}

.intro-cta {
  font-weight: $body-font-weight-bold;
}
