.breadcrumbs {
  margin: $tsl-space-small 0 $tsl-space-huge 0;
}

a.post-summary {
  @extend .tsl-font-body;

  border: 1px solid $tsl-light-grey;
  border-radius: 3px;
  box-shadow: 0 2px 2px -1px $tsl-mid-grey;
  display: block;
  margin: $tsl-space-medium;
  padding: $tsl-space-small;
  position: relative;
  transition: all 0.2s ease-out;
  text-decoration: none;

  @include for-small-only {
    margin-left: 0;
    margin-right: 0;
  }

  &:hover {
    border: 1px solid $tsl-light-grey;
    box-shadow: 0 4px 10px -1px $tsl-light-grey;

    .post-summary-cta {
      text-decoration: underline;
    }
  }
}

.post-summary-image {
  @extend %clearfix;

  float: right;
  height: 100px;

  @include for-small-only {
    display: none;
  }
}

.post-summary-title {
  font-size: 125%;
}

.post-summary-meta {
  font-style: italic;

  @include for-small-only {
    display: block;
    margin-bottom: $tsl-space-small;
  }
}

.post-summary-description {
  margin: 0;
}

.post-summary-cta {
  color: $brand-color;
}
