.trussle-banner {
  text-align: center;
}

.trussle-banner-logo {
  padding: 0;
  padding-bottom: $tsl-space-medium;
  width: 200px;
}

.trussle-banner-explainer {
  font-style: italic;
}

.trussle-banner-cta {
  @include tsl-font-body-bold;
}
