h2#image Photography, Illustration &amp; Iconography

p Brand guidelines and resources are available #[a(href="https://drive.google.com/open?id=0B0V5jBgZ6owsQkl5c1lwYjBrd1E") here (Trussle only)].

h4#image-photography Photography

p The Trussle photography style is candid, natural and should always feel like it’s telling the story of a real person, not staged stock photography. We use photography to talk about real people, mostly when referring to real customers, the team or the culture.

p It should have a focus on space (rooms, skyline) and ownership (doors, DIY), on the excitiment and capturing the moment of getting a new home (moving in, Arranging the first ornaments, DIY, etc.).

p
  a(href="https://drive.google.com/drive/u/0/folders/0BwLiLO3lOtDyRlNEOXFqMTdoZTg") View approved images (Trussle only)

h4#image-iconography Iconography

p Within the product, icons are very functinal and help users understand the information they are viewing. For these purposes we use a simple line icon in Trussle Green with a line weight of 2px. Icons are linear and should have enough straight corners to reflect the logo marque.

p At other times icons have a slightly different job. This is where illustration and iconography meet. We can use our illustration style to create icons in places that need to inspire, persuade or entertain users.

p
  a(href="https://drive.google.com/drive/u/0/folders/0BwLiLO3lOtDyeFJwWTRHV0xGNW8") View our icons (Trussle only)

h2#logos Logos

p The logomark is to be used in small places like Favicons and social profile pictures etc.

p
  a(href="https://drive.google.com/drive/u/0/folders/0B0V5jBgZ6owsZGczTFZlZ3RnY2c") View logos (Trussle only)
